@import url('./header.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;700&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/amity-jack');

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --azul-claro: #6BD1FF;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-family: var(--fonte-principal);
    color: var(--branco);
    background-color: #404040;
    font-size: 16px;
}

.cabecalho__logo-link {
    text-decoration: none;
}